$parent: "button";

@include block($parent) {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: rem(10) rem(24);
  border: 1px solid var(--buttonBorder, $color-white);;
  border-radius: rem(48);
  color: var(--buttonColor, $color-white);
  background-color: transparent;
  text-align: center;
  cursor: pointer;
  transition: color 0.3s, border-color 0.3s;
  text-decoration: none;

  @include modifier($parent, "blue") {
    color: $color-midnight-express;
    border-color: $color-midnight-express;
  }
}
