<div class="about screen container">
    {% if data.text %}
        <div class="about__text t1">
            {{ data.text }}
        </div>
    {% endif %}

    {% if data.items %}
        <div class="about__cards">
            {% for card in data.items %}
                {% include "@view-root/molecules/card/about/card-about.twig" with { data: card } %}
            {% endfor %}
        </div>
    {% endif %}
</div>
